<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
	<title>OgPlexus</title>
	
	<meta name="description" content="C. Brandon Ogbunu's home page at Brown University">
	<meta name="keywords" content="">

	<!-- Open Graph -->
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="article">
	<meta property="og:title" content="OgPlexus">
	<meta property="og:description" content="C. Brandon Ogbunu's home page at Brown University">
	<meta property="og:url" content="http://OgPlexus.github.io/">
	<meta property="og:site_name" content="OgPlexus">

	<link rel="canonical" href="http://OgPlexus.github.io/">
	<link href="http://scarpino.github.io/feed.xml" type="application/atom+xml" rel="alternate" title="OgPlexus">

	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- For all browsers -->
	<link rel="stylesheet" href="http://scarpino.github.io/assets/css/main.css">
	<meta http-equiv="cleartype" content="on">

	<!-- HTML5 Shiv and Media Query Support -->
	<!--[if lt IE 9]>
		<script src="http://scarpino.github.io/assets/js/vendor/html5shiv.min.js"></script>
		<script src="http://scarpino.github.io/assets/js/vendor/respond.min.js"></script>
	<![endif]-->

	<!-- Modernizr -->
	<script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
	<script src="http://scarpino.github.io/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>
	<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

	<!-- Icons -->
	<!-- 16x16 -->
	<link rel="shortcut icon" href="http://scarpino.github.io/favicon.ico">
	<!-- 32x32 -->
	<link rel="shortcut icon" href="http://scarpino.github.io/favicon.png">
	<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
	<link rel="apple-touch-icon-precomposed" href="http://scarpino.github.io/images/apple-touch-icon-precomposed.png">
	<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://scarpino.github.io/images/apple-touch-icon-72x72-precomposed.png">
	<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://scarpino.github.io/images/apple-touch-icon-114x114-precomposed.png">
	<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://scarpino.github.io/images/apple-touch-icon-144x144-precomposed.png">
</head>
</head>


<body class="home">

<!--[if lt IE 9]><div class="browser-upgrade alert alert-info">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div><![endif]-->

<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}/">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<div id="main" role="main"> 
  <div class="article-author-side">

<div itemscope itemtype="http://schema.org/Person">


  <h3 itemprop="name"> C. Brandon Ogbunu</h3>
  <p></p>
  <a href="mailto: brandon_ogbunu@brown.edu" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a>
  <a href="https://twitter.com/big_data_kane?lang=en" class="author-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
  <a href="http://github.com/OgPlexus" class="author-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>
</div>
     <a href="https://scholar.google.com/citations?user=rHUzZs0AAAAJ&hl=en" class="author-social" target="_blank"><i class="fa fa-fw fa-university"></i> Google Scholar</a>
     <br><a class="twitter-timeline" href="https://twitter.com/big_data_kane?ref_src=twsrc%5Etfw">Tweets by big_data_kane</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>

<div id="index">
<h3>Welcome!</h3>
	
<p>C. Brandon Ogbunu is an Assistant Professor in the Department of Ecology and Evolutionary Biology at Brown University. He is an evolutionary systems biologist, and uses experimental evolution, mathematical modeling, and computational biology to better understand how adaptive evolution occurs in nature, mainly in microbial models of disease. In doing so, he aims to develop theory that enriches our understanding of the evolutionary process and contributes to practical solutions for clinical medicine and public health.   
<br />	
  	<h3>Affiliations</h3>
  	<h4> Department of Ecology and Evolutionary Biology, Brown University</h4>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
  </footer>
</div><!-- /.footer-wrap -->
  
</body>
</html>